<!-- templates/proveedores.html -->
{% extends "base.html" %}
{% block content %}
<h2>Lista de Proveedores</h2>
<div id="proveedores-container">
    <table>
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Ubicación</th>
            </tr>
        </thead>
        <tbody>
            {% for proveedor in proveedores %}
            <tr>
                <td>{{ proveedor.name }}</td>
                <td>{{ proveedor.location }}</td>
            </tr>                
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}